+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Software y cultura libre documentada" image_anchor="top" height="minimum" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentación <i class="fas fa-book"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Blog <i class="fas fa-lightbulb"></i>
	</a>
	<p class="lead mt-5">Recetas, procedimientos y scripts</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Todo lo que no está documentado queda en el olvido.
{{% /blocks/lead %}}
