---
title: Sobre MundoLibre
linkTitle: About
menu:
  main:
    weight: 10
---

{{< blocks/cover title="Sobre Mundo Libre" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">Una recopilación de documentación y recetas sobre FLOSS
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
Mundo Libre es una pequeña colección de apuntes e información ordenado bajo <a href="https://github.com/google/docsy">Docsy</a>, un tema de Hugo especializado en documentación.
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Bash, Gitlab, Docker, Codecs, Streaming, Podcasting...</h1>
</div>

{{< /blocks/section >}}
